














.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.project__content {
  display: flex;
  flex-direction: column;
}

.project__buttons {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.project__img {
  border: none;
  border-radius: 1rem;
  max-width: 100%;
  height: auto;
}


.contact {
  display: flex;
  gap: 5rem;
  flex-direction: column;
  width: 100%;
}

.contact__input {
  width: 100%;
  padding: 1.5rem;
  border-radius: 1rem;
  border: none;
}

.contact__section-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media (min-width: 480px) {
  .nav__list {
    flex-direction: row;
    margin: 3rem;
  }
  .footer__elements {
    display: flex;
    flex-direction: row;
    gap: 4rem;
  }
}

@media (min-width: 768px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
  }

  .contact {
    display: flex;
    gap: 5rem;
    flex-direction: column;
    width: 100%;
    margin: 6rem 0;
    align-items: center;
  }

  .contact__section-form {
    justify-content: center;
    width: 60%;
  }

  .button--size {
    width: 25rem;
  }

  .header__buttons {
    flex-direction: row;
  }
}

@media (min-width: 852px) {
  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .logo__container-text {
    align-items: flex-start;
  }
}

@media (min-width: 1020px) {
  .header {
    height: 100vh;
  }

  .project {
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .header__content {
    margin: 0 10%;
    gap: 2rem;
  }

  .project__buttons {
    flex-direction: row;
  }
}
