@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300&display=swap");

:root {
  --color-text: rgb(234, 205, 194);
  --color-primary: rgb(55, 37, 73);
  --color-primary-dark: rgb(42, 28, 56);
  --color-secondary: rgb(183, 93, 105);
  --color-secondary-dark: rgb(170, 85, 96);
  --color-button-secondary: rgb(119, 76, 96);
  --color-button-secondary-dark: rgb(101, 64, 81);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  color: var(--color-text);
  background-color: var(--color-primary);
}

h1 {
  font-size: 4rem;
}

h2 {
  display: inline-block;
  font-size: 3.5rem;
  border-bottom: 6px solid var(--color-text);
  margin: 5rem 0;
  height: 6.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

a {
  text-decoration: none;
  color: var(--color-text);
  letter-spacing: 0.2rem;
}

ul {
  list-style: none;
}

.container {
  margin: auto 3rem;
}

.header {
  background-image: url("../assets/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  position: relative;
  background-attachment: fixed;
  color: var(--color-text);
  padding: 0 0 4rem 0;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(55, 37, 73);
  opacity: 1;
  mix-blend-mode: hard-light;
}

.header * {
  z-index: 1; /* Recordar que debe llevar un position siempre para que funcione */
}

.header__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.header__description {
  line-height: 1.5;
}

.header__buttons {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo__img {
  width: 5rem;
  margin: 2rem;
}

.logo__container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo__text {
  padding: 0.3rem;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
}

.nav__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 3rem 0;
}

.nav__element {
  padding: 1.5rem;
}

.nav__element:hover {
  border-bottom: 1px solid white;
}

.nav__link {
  color: var(--color-text);
}

.nav--color {
  background-color: var(--color-primary-dark);
}

.button {
  padding: 1.5rem 3rem;
  border-radius: 1rem;
  border: none;
  letter-spacing: 0.2rem;
  background-color: var(--color-secondary);
  color: var(--color-text);
}

.button:hover {
  background-color: var(--color-secondary-dark);
  transform: scale(1.1);
}

.button--secondary-color {
  background-color: var(--color-button-secondary);
}

.button--secondary-color:hover {
  background-color: var(--color-button-secondary-dark);
}

.button--size {
  width: 100%;
}

.button--size-proyects {
  width: 100%;
}

.tools {
  display: flex;
  flex-direction: column;
}

.tools__skills {
  display: flex;
  flex-wrap: wrap;
  gap: 9rem;
}

.tool__skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.tool__img {
  width: 9rem;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.project__content {
  display: flex;
  flex-direction: column;
}

.project__buttons {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.project__img {
  border: none;
  border-radius: 1rem;
  max-width: 100%;
  height: auto;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--color-text);
  margin-top: 10rem;
  height: 20vh;
  width: 100%;
  background-color: var(--color-primary-dark);
}

.footer__elements {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.footer__element {
  padding: 2rem;
}

.footer__element:hover {
  font-size: 1.8rem;
}

.footer--position {
  position: relative;
}

.contact {
  display: flex;
  gap: 5rem;
  flex-direction: column;
  width: 100%;
}

.contact__input {
  width: 100%;
  padding: 1.5rem;
  border-radius: 1rem;
  border: none;
}

.contact__section-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media (min-width: 480px) {
  .nav__list {
    flex-direction: row;
    margin: 3rem;
  }
  .footer__elements {
    display: flex;
    flex-direction: row;
    gap: 4rem;
  }
}

@media (min-width: 768px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
  }

  .contact {
    display: flex;
    gap: 5rem;
    flex-direction: column;
    width: 100%;
    margin: 6rem 0;
    align-items: center;
  }

  .contact__section-form {
    justify-content: center;
    width: 60%;
  }

  .button--size {
    width: 25rem;
  }

  .header__buttons {
    flex-direction: row;
  }
}

@media (min-width: 852px) {
  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .logo__container-text {
    align-items: flex-start;
  }
}

@media (min-width: 1020px) {
  .header {
    height: 100vh;
  }
  
  .project {
    flex-direction: row;
  }
}

@media (min-width: 1200px) {

  .header__content{
    margin: 0 10%;
    gap: 2rem;
  }

  .project__buttons {
    flex-direction: row;
  }
}
