.contact {
  @include sizes(100%, auto);
  @include flex(column, center, center);
  gap: 5rem;

  &__input {
    @include sizes(100%, auto);
    padding: 1.5rem;
    border-radius: 1rem;
    border: none;
  }

  &__section-form {
    @include flex(column, center, start);
    gap: 0.5rem;
  }

  @media (min-width: 768px) {
    & {@include sizes(100%, auto);
      @include flex(column, center, center);
      gap: 5rem;
      margin: 6rem 0;
    }

    &__section-form {
      
      @include sizes(60%, auto);
    }
  }
}
