.footer {
  @include sizes(100%, 20vh);
  @include flex(column, center, center);
  border-top: 1px solid $color-text;
  background-color: $color-primary-dark;
  margin-top: auto;

  &__elements {
    @include flex(column, center, center);
    padding: 0;
    align-items: center;
    gap: 4rem;
  }

  &__element {
    padding: 2rem;
  }

  &__element:hover {
    font-size: 1.8rem;
  }

  @media (min-width: 480px) {
    &__elements {
      @include flex(row, center, center);
      gap: 4rem;
    }
  }
}
