.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid $color-text;
  height: 20vh;
  width: 100%;
  background-color: $color-primary-dark;
  margin-top: auto;

  &__elements {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }

  &__element {
    padding: 2rem;
  }

  &__element:hover {
    font-size: 1.8rem;
  }

  @media (min-width: 480px) {
    &__elements {
      display: flex;
      flex-direction: row;
      gap: 4rem;
    }
  }
}
