.header {
  background-image: url("../assets/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  position: relative;
  background-attachment: fixed;
  color: $color-text;
  padding: 0 0 4rem 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(55, 37, 73);
    opacity: 1;
    mix-blend-mode: hard-light;
  }

  & * {
    z-index: 1;
    /* Recordar que debe llevar un position siempre para que funcione */
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }

  &__description {
    line-height: 1.5;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  @media (min-width: 768px) {
    &__buttons {
      flex-direction: row;
    }
  }

  @media (min-width: 1020px) {
    & {
      height: 100vh;
    }
  }

  @media (min-width: 1200px) {
    &__content {
      margin: 0 10%;
      gap: 2rem;
    }
  }
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__img {
    width: 5rem;
    margin: 2rem;
  }

  &__container-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__text {
    padding: 0.3rem;
  }

  @media (min-width: 852px) {
    & {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &__container-text {
      align-items: flex-start;
    }
  }
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 2rem;

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 3rem 0;
  }

  &__element {
    padding: 1.5rem;
  }

  &__element:hover {
    border-bottom: 1px solid white;
  }

  &__link {
    color: $color-text;
  }

  &--color {
    background-color: $color-primary-dark;
  }

  @media (min-width: 768px) {
    &__list {
      flex-direction: row;
      margin: 3rem;
    }
  }

  @media (min-width: 768px) {
    & {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      padding: 0 2rem;
    }
  }
}
