

.header {
  @include flex(column, center, center);
  background-image: url("../assets/hero.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  background-attachment: fixed;
  color: $color-text;
  padding: 0 0 4rem 0;

  &::before {
    @include sizes(100%, 100%);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(55, 37, 73);
    opacity: 1;
    mix-blend-mode: hard-light;
  }

  & * {
    z-index: 1;
    /* Recordar que debe llevar un position siempre para que funcione */
  }

  &__content {
    @include flex(column, center, start);
    @include sizes(auto, 100%);
    
  }

  &__description {
    line-height: 1.5;
  }

  &__buttons {
    @include flex(column, center, start);
    gap: 4rem;
  }

  @media (min-width: 768px) {
    &__buttons {
      @include flex(row, center, center);
    }
  }

  @media (min-width: 1020px) {
    & {
      @include sizes(auto, 100vh);
    }
  }

  @media (min-width: 1200px) {
    &__content {
      margin: 0 10%;
      gap: 2rem;
    }
  }
}

.logo {
  @include flex(column, center, center);


  &__img {
    @include sizes(5rem, auto);
    margin: 2rem;
  }

  &__container-text {
    @include flex(column, center, center);
  }

  &__text {
    padding: 0.3rem;
  }

  @media (min-width: 852px) {
    & {
      @include flex(row, center, center);
    }

    &__container-text {
      @include flex(column, center, flex-start);
    }
  }
}

.nav {
  @include sizes(100%, auto);
  @include flex(column, center, center);
  padding: 0 2rem;

  &__list {
    @include flex(column, center, center);
    padding: 0;
    margin: 3rem 0;
  }

  &__element {
    padding: 1.5rem;
  }

  &__element:hover {
    border-bottom: 1px solid white;
  }

  &__link {
    color: $color-text;
  }

  &--color {
    background-color: $color-primary-dark;
  }

  @media (min-width: 768px) {
    &__list {
      @include flex(row, center, center);
      margin: 3rem;
    }
  }

  @media (min-width: 768px) {
    & {
      @include sizes(100%, auto);
      @include flex(row, space-between, center);
      padding: 0 2rem;
    }
  }
}
