.projects {
  @include flex(column, center, center);
  gap: 5rem;
}

.project {
  @include flex(column, center, center);
  gap: 3rem;

  &__content {
    @include flex(column, center, center);
  }

  &__buttons {
    @include flex(column, center, center);
    gap: 4rem;
  }

  &__img {
    border: none;
    border-radius: 1rem;
    max-width: 100%;
    height: auto;
  }

  @media (min-width: 1020px) {
    & {
      @include flex(row, center, center);
    }

  }
  @media (min-width: 1200px) {
   
    &__content {
        @include flex(column, start, start);
    }

    &__buttons {
      @include flex(row, start, start);
    }
  }
}
