.tools {
  @include flex(column, start, start);

  .tools__skills {
    @include flex(row, center, center);
    flex-wrap: wrap;
    gap: 9rem;
    width: 100%;
  }
}

.tool {
  &__skill {
    @include flex(row, center, center);
    gap: 1.5rem;
  }

  &__img {
    @include sizes(9rem, auto);
  }
}
